{% extends "base.html" %}

{% block titulo %}
Historia Honda
{% endblock %}

{% block contenido %}

<main class="container">

<section class="specs-intro">
    <h2>Historia de Honda</h2>
    <hr class="separator">
</section>

<div class="spec-card">

    <p>
        Honda fue fundada en 1948 en Japón por Soichiro Honda.
    </p>

    <p>
        Se convirtió en el mayor fabricante de motocicletas del mundo.
    </p>

    <p>
        Hoy en día es líder en innovación y rendimiento.
    </p>

</div>

</main>

{% endblock %}