{% extends "base.html" %}

{% block titulo %}
Honda Motos
{% endblock %}

{% block contenido %}

<section class="hero-spec">

    <h1>Honda Motos</h1>

    <p>
        Innovación, velocidad y potencia sobre dos ruedas.
    </p>

</section>

<main class="container">

<section class="specs-intro">

    <h2>Bienvenido a Honda</h2>

    <hr class="separator">

    <p>
        Explora los modelos, la historia y la tecnología
        que han convertido a Honda en una de las marcas
        más importantes del mundo.
    </p>

</section>

<section class="specs-grid">

    <article class="spec-card">

        <img src="/static/imagenes/c_img_740x370.17vrt1jy61glrq.jpg">

        <h3>Diseño Deportivo</h3>

        <p>
            Motocicletas inspiradas en competición.
        </p>

    </article>

    <article class="spec-card">

        <img src="/static/imagenes/descarga (1).jpg">

        <h3>Tecnología</h3>

        <p>
            Innovación japonesa en cada detalle.
        </p>

    </article>

    <article class="spec-card">

        <img src="/static/imagenes/descarga (2).jpg">

        <h3>Aventura</h3>

        <p>
            Modelos preparados para cualquier terreno.
        </p>

    </article>

</section>

</main>

{% endblock %}