<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página FastAPI</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <header>
        <h1>Mi Página Web con FastAPI</h1>
    </header>

    <main>
        <p>Proyecto funcionando correctamente en Vercel 🚀</p>

        <button id="btn">Haz clic</button>
    </main>

    <script src="/static/js/script.js"></script>

</body>
</html>