{% extends "base.html" %}

{% block titulo %}
Modelos Honda
{% endblock %}

{% block contenido %}

<main class="container">

<section class="specs-intro">
    <h2>Modelos Honda</h2>
    <hr class="separator">
</section>

<div class="specs-grid">

    <article class="spec-card">
        <img src="/static/imagenes/descarga (1).jpg">

        <h3>CBR1000RR-R</h3>
        <p>Super deportiva inspirada en MotoGP.</p>
    </article>

    <article class="spec-card">
        <img src="/static/imagenes/descarga.jpg">

        <h3>CB500F</h3>
        <p>Perfecta para ciudad.</p>
    </article>

    <article class="spec-card">
        <img src="/static/imagenes/descarga (2).jpg">

        <h3>Africa Twin</h3>
        <p>Diseñada para aventura.</p>
    </article>

    <article class="spec-card">
        <img src="/static/imagenes/c_img_740x370.17vrt1jy61glrq.jpg">

        <h3>XR150L</h3>
        <p>Resistente y económica.</p>
    </article>

</div>

</main>

{% endblock %}